<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198108071210-i8j7h19407en85hh1bbbe55mmdse9df1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198108071210-i8j7h19407en85hh1bbbe55mmdse9df1</string>
	<key>API_KEY</key>
	<string>AIzaSyC6QJwaDQj4Qdv1DMy5TS6ZaJm8vHwrse8</string>
	<key>GCM_SENDER_ID</key>
	<string>198108071210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diego.llopis.appViewCodeSnapKit</string>
	<key>PROJECT_ID</key>
	<string>appviewcodesnapkit</string>
	<key>STORAGE_BUCKET</key>
	<string>appviewcodesnapkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198108071210:ios:f10e0cb9e6f57698340a53</string>
</dict>
</plist>